<h1>Loan History</h1>
{% if loans %}
    <table>
        <tr>
            <th>From</th>
            <th>Name</th>
            <th>Description</th>
            <th>Start</th>
            <th>End</th>
        </tr>
        {% for loan in loans %}
        <tr>
            <td><p>{{loan.owner}}</p></td>
            <td><p>{{loan.item_name}}</p></td>
            <td><p>{{loan.content}}</p></td>
            <td><p>{{loan.start_date}}</p></td>
            <td><p>{{loan.end_date}}</p></td>
        </tr>
        {% endfor %}
    </table>
{% else %}
    <p>No items ever loaned.</p>
{% endif %}